<div class="row">
  <div class="col-md-6">
      <%= image_tag "http://www.washingtonpost.com/wp-srv/special/health/why-roller-coasters-make-us-scream/images/rollercoasterBackground.jpg", size:"550x325" %>
  </div>
  <div class="col-md-6 background">
    <div class="text-center">
      <h1>Welcome to the Amusement Park!</h1>
      <%= link_to "Sign in", signin_path %>
      <%= link_to "Sign up", new_user_path %>
    </div>
  </div>
</div>
